body,span,{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a,p{
    font-family: 'Rubik', sans-serif;
}
img{
    max-width: 100%;
}


.main-header{
    background-color: #e0e0e0;
}
.header-logo{
    width: 80px;
}
.header-main-menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    transition: .4s;

}
.header-main-menu li a:hover{
    color: #3763eb;
}
.header-main-menu li a::after {
	content: "";
	width: 0;
	height: 5%;
	position: absolute;
	bottom: -16px;
	left: 20px;
    background: #3763eb;
	transition: .5s;
}
.header-main-menu li:hover a::after{
    width: 35px;
    
}
.header-menu li.hover-active{
    color:#3763eb ;
    position: relative;
}
.header-main-menu li .hover-active::after{
    content: "";
	width: 35px;
	height: 5%;
	position: absolute;
	bottom: -16px;
	left: 20px;
    background: #3763eb;
}

.header-main-menu li{
    position: relative;
}
.header-main-menu li ul{
    position: absolute;
    left: 18%;
    top: 140%;
    width: 230px;
    background: #fafafa;
    list-style: none;
    padding-left:0 ;
    padding: 12px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);

    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;

    z-index: 1;

}
.header-main-menu li ul li {
    flex-direction: column;
   
   
}
.header-main-menu li ul li a {
    background-color: #3763eb;
    color: #fff;
    display: block;
    border-radius: 5px;
    padding: 12px;
	
}
.header-main-menu li ul li a::after{
    display: none;
}
.header-main-menu li:hover ul{
    top: 135%;
    visibility: visible;
    opacity: 1;

}

body .btn-outline-primary {
	border-radius: 30px;
	padding: 10px 35px;
	border: 1px solid #fff;
	background: #fff;
    margin-left: 35px;
    transition: .4s;
}

.slider-text {
	margin-left: 103px;
    margin-top: 125px;
    
}
.slider-text h1{
    font-size: 40px;

}
.slider-text p {
	font-size: 17px;
	font-weight: 400;
	color: #606060;
}

.btn-primary {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
	border-radius: 30px;
	padding: 12px 26px;
}

.slider-img-hidden{
    overflow: hidden;
   

}

.slider-img {
	width: 770px;
	height: 770px;
	border-radius: 50%;
	position: relative;
	top: -125px;
	right: -122px;
    overflow: hidden;
    z-index: -1;
}
.slider-img img{
    width: 100%;
    height: 100%;

   
}
.up-arow {
	position: fixed;
	right: 40px;
	bottom: 35px;
	background: #3763eb;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	
}
.fas.fa-chevron-up {
	color: #fff;
}

/* content-section */

.content-text{

}
.content-text h5 {
	font-size: 20px;
	text-transform: uppercase;
	color: #95acf4;
}
.content-text h2 {
	font-size: 38px;
    text-transform: capitalize;
    position: relative;
}
.content-text h2::after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 40px;
	height: 1px;
	background: #3763eb;
}
.content-text p {
	font-size: 16px;
	color: #606060;
}

/* service-section */

.service-content {
    background: #f6f9fc;
    border-radius: 5px;
    transition: .5s;
    position: relative;

    
}
.service-content:hover{
    background-color: #3763eb;
    
}

.service-content h4 {
	font-size: 19px;
    font-weight: 500;
    transition: .5s;
}
.service-content:hover h4{
    color: #fff;
}
.service-content p {
	font-size: 16px;
    color: #606060;
    transition: .5s;
}
.service-content:hover p{
    color: #fff;
}
.service-icon span{
	width: 55px;
	height: 55px;
	background: #3763eb;
	text-align: center;
	line-height: 55px;
	border-radius: 50% 50% 50% 0;
	color: #fff;
	font-size: 20px;
	margin-bottom: 44px;
    margin-top: 17px;
    display: inline-block;
    position: relative;
    transition: .4s;
}
.service-content:hover .service-icon span{
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    text-align: center;
    border-radius: 50% 50% 50% 0;
    color: #3763eb ;
    font-size: 22px;


}

.service-icon span::after {
	content: "";
	position: absolute;
	bottom: -50%;
	left: 0;
	width: 30px;
	height: 2px;
	background: #3763eb;
} 
.service-content:hover .service-icon span::after{
	width: 40px;
	height: 2px;
	background: #fff;
}
.bg-imge{
    position: relative;
}
.service-background {
	position: absolute;
	top: 97px;
	left: -47px;
	width: 100%;
	height: 100%;
}

/* banner-section */

.banner-section{
    background: url(https://i.ibb.co/rZ2t315/video-bg.jpg) rgba(0,0,0,0.7) no-repeat center center;
    padding: 180px 0;
    background-size: cover;
    background-blend-mode: overlay;
}

.banner-text{
    width: 500px;
    margin: auto;
}
.banner-text h5{
    color: #606060;
}
.banner-text h2{
    color: #fff;
    position: relative;
}
.banner-text p{
    color: #606060;
}
.banner-text h2::after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 50%;
	width: 40px;
	height: 2px;
	background: #fff;
}





.about-btn{
    font-size: 25px;
    background: #ddd;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    position: relative;
    border-radius: 50%;
}
.animeted{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px double #ddd;
    animation: samim 2s ease-in-out infinite;
}
.animeted::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px double #ddd;
    transform: translate(-50%,-50%);
}
.animeted::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px double #ddd;
    transform: translate(-50%,-50%);
}


@keyframes samim {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    25%{
        transform: scale(1.5);
        opacity: 0.8;
    }
    50%{
        transform: scale(2);
        opacity: 0.6;
    }
    75%{
        transform: scale(2.5);
        opacity: 0.4;
    }
    100%{
        transform: scale(3);
        opacity: 0.2;
    }
}


/* class 35 */
.pricing-table{
    background: #f6f9fc;
}
.pricing-title span{
    color: #3763eb;
    font-size: 18px;
    text-transform: uppercase;

}
.pricing-title h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 35px;
    position: relative;
}
.pricing-title h2::after{
    content: "";
    position: absolute;
    top: 123%;
    left: 45%;
    width: 60px;
    height: 2px;
    background: #3763eb;
}
.pricing-title p{
    color: #9893a5;
}
.pricing-box{
    background: #fff;
    text-align: center;
    padding: 50px 40px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.pricing-box h4{
    font-weight: 600;
    font-size: 23px;
    margin: 20px 0;
}
.pricing-box h1{
    font-weight: 600;
}
.pricing-box p{
    color: #9893a5;
    margin-bottom: 30px;
}
.pricing-box ul{
     padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pricing-box ul li{
    list-style: none;
    color: #606060;
    padding-top: 15px;
    margin-bottom: 15px;
}
.pricing-btn a.btn-primary{
    background: #3763eb;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
}
/* blog */

.blog{
    background: url(./img/free-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    position: relative;
   z-index: 1;
}
.blog::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3763eb;
    opacity: 0.9;
    z-index: -1;
}
.blog-btn a.btn-primary{
    background: #fff;
    color: #3763eb;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 30px;
}
.blog-content span{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.blog-content h2{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
    color: #fff;
}
.blog-content h2::after{
    content: "";
    position: absolute;
    top: 123%;
    left: 45%;
    width: 60px;
    height: 2px;
    background: #fff;

}
.blog-content p{
    color: #fff;
    margin-bottom: 30px;
}
